[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.core" = "*"
"aws-cdk.aws-imagebuilder" = "*"
pyyaml = "*"
"aws-cdk.aws-lambda" = "*"
"aws-cdk.aws-lambda-python" = "*"
"aws-cdk.aws-events" = "*"
"aws-cdk.aws-events-targets" = "*"
"aws-cdk.aws-sns" = "*"

[dev-packages]
black = "*"
ipdb = "*"
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}

[requires]
python_version = "3.10"

[scripts]
black-check = "black --check ."
isort-check = "isort --check ."
