[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.core" = "1.204.0"
"aws-cdk.aws-imagebuilder" = "1.204.0"
pyyaml = "==6.0.2"
"aws-cdk.aws-lambda" = "1.204.0"
"aws-cdk.aws-lambda-python" = "1.204.0"
"aws-cdk.aws-events" = "1.204.0"
"aws-cdk.aws-events-targets" = "1.204.0"
"aws-cdk.aws-sns" = "1.204.0"
certifi = "==2024.8.30"

[dev-packages]
ipdb = "0.13.9"
ruff = "==0.6.7"

[requires]
python_version = "3.12"

[scripts]
